@import "../../sass/_variables";

html,body {
  padding: 0;
  margin: 0;
  font-family: "openSansBold";
  height: 100%;
  color: #fff;
}

.appContainer {
  width: 100%;
  height: 100%;
  background-color: $green;
//  padding-top: 4%;
}

.btn {
  font-family: "openSansBold";
}
  .btn {
    background-color: $green;
    border: none;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: -0.25px;
//    font-family: "openSansSemiBold";
    padding: 0 5px;
  }

.hidden {
//  visibility: hidden;
  overflow: hidden;
  height: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.2px;
  opacity: 0.85;
  padding-bottom: 20px;
}

h2 {
//  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.2px;
  opacity: 0.85;
  padding-bottom: 20px;
  white-space: pre-wrap;
}

.btnSquare {
  display: block;
  margin: 0 auto;
  color: $green;
  font-size: 16px;
  background-color: #fff;
  opacity: 0.8;
  line-height: 22px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.transparent {
  background: transparent;
}