@import "../../sass/_variables";

.end-page__picture {
  padding-top: 7%;  
    
  img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px ) {  
  .end-page__picture img {
    width: 320px;
    height: 160px;
  }
}

.end-page {
  position: relative;
  .btnSquare {
    position: relative;
    margin: 0 auto;
    padding: 10px 30px;
    z-index: 10;
  }
  
  p {
    margin: 0;
  }
}
