@import "../../sass/_variables";

.start-page__picture {
  padding-top: 7%;
  
  img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px ) {  
  .start-page__picture img {
    width: 320px;
    height: 160px;
  }
}
